.idea
llamaindex/.idea/
/.idea/
.idea/worspace.xml
/.idea/*

.vscode/
storage/
storage/*
storage_tt/
storage_tt/*
chroma/
chroma/*

**/__pycache__/

*.swp
llamaindex/__init__.pyc

venv*/

.env
llamaindex/.env

settings.ini

# MacOS
.DS_Store